<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.newproject">

    <!-- the internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Kolesterol"
                android:label="@string/title_activity_kolesterol"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Diabetes"
                android:label="@string/title_activity_diabetes"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Tekanan"
                android:label="@string/title_activity_tekanan"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".PerokokMain"
                android:label="@string/title_activity_perokok"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Recomend"
                android:label="@string/title_activity_recomend"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Result"
                android:label="@string/title_activity_result"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Category_Main"
                android:label="@string/title_activity_result"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Question"
                android:label="@string/title_activity_question"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Register"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_register">
        </activity>
        <activity
                android:name=".splash"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Welcome"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>